@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round";
    scroll-margin-top: 70px;
    scroll-behavior: smooth;
}

/* nav {
    background-color: #5e2c8a;
    opacity: 0.9;
    position: sticky;
    top: 0;
    max-width: 700px;
    margin: 0 auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
} */

nav {
    background-color: #5e2c8a;
    opacity: 1;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}





.horizontalNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* .active {
    background-color: #9045d1;
} */
li a:hover:not(.active) {
    background-color: #3d1c59;
}

body {
    background-color: rgb(243, 240, 250);
}

.stars {

    background-image: url('img/Star_Dim_Tile.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 200px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;

}

p {
    margin: 20px;
}

div:hover {
    /* background-color: rgb(224, 196, 248); */
    /* box-shadow: none; */
    /* box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 10px inset; */
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.strip {
    text-align: center;
    background-color: rgb(237, 216, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    padding: 40px;
    align-self: center;
    margin: 10px;
    width: 100%;
    margin: 0;
}





input,
select {
    margin-bottom: 10px;
    font-family: "Varela Round";
    border-radius: 5px;
    padding: 5px;

}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(90, 0, 194);
    font-family: "Varela Round";
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999999;
}

button:hover {
    background-color: rgb(80, 36, 102)
}

button:active {
    background-color: rgb(80, 36, 102);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2,
h3,
h1 {
    color: rgb(35, 6, 139);
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
}

.stars h2 {
    background-color: rgba(200, 219, 255, 0.589);
    display: inline;
    padding: 20px;
    border-radius: 100px;
}

.stars>div:first-child {

    margin-bottom: 40px;
}

span {
    font-weight: bold;
}

.footer {
    padding: 0px;
    font-size: 0.7em;
    margin: 0px;

}








.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px;
    padding-bottom: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(237, 216, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    align-self: center;
    margin: 0px;
}

.imgContainer img {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    max-height: 300px;
}

button a {
    color: white;
    text-decoration: none;
}

i {
    background-color: #b6b1ff;
    border-radius: 50%;
    padding: 20px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

i:hover {
    /* background-color: #8b87c4; */
    /* font-size: 20px; */
    color: #008cff;
}

.icons {
    direction: ltr;
    padding: 10px;
    margin: -10px;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}



/* .divider-container {
    padding-bottom: 0px;
    overflow: hidden;
}


.divider {
    width: 100vw;
    height: auto;
    margin: -40px;
    object-fit: fill;
} */

.form-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.form-container img {
    /* width: 400px; */
    height: 400px;
    object-fit: contain;

}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: right;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

form label {
    font-weight: bold;
    
}

form input,
form textarea {
    text-align:right ;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    resize: none;
}




@media (max-width: 1200px) {

    h2,
    h3,
    h1 {
        color: rgb(35, 6, 139);
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* For small screens like mobile devices */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        gap: 10px;
    }

    .imgContainer img {
        width: 100%;
        /* Make images full width of the container */
        max-width: 300px;
        /* Limit maximum size */
    }
}