@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --primary-color: #5e2c8a;
    /* --secondary-color: #f1faee;
    --third-color: #a8dadc;
    --fourth-color: #457b9d;
    --fifth-color: #1d3557; */
    --nav-height: 60px;
    --strip-color: rgb(237, 216, 255)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round";
    scroll-margin-top: 90px;
    scroll-behavior: smooth;
}

nav {
    background-color: var(--primary-color);
    opacity: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontalNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.horizontalNav.left {
    justify-content: flex-start;

}

.horizontalNav.right {
    justify-content: flex-end;
}

li {
    height: var(--nav-height);
}

li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: var(--nav-height);

}

li a:hover {
    background-color: #3d1c59;
}

nav img {
    height: 40px;
}

nav .right li a {
    padding: 0px;
    padding-left: 10px;
    padding-right: 15px;
}


.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding: 14px 16px;
}

.menu-toggle {
    display: none;
}






html,
body {
    width: 100%;
    background-color: rgb(243, 240, 250);

}

.stars {

    background-image: url('img/Star_Dim_Tile.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 200px;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;

}

p {
    margin: 20px;
}


.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.strip {
    text-align: center;
    background-color: rgb(237, 216, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    padding: 40px;
    align-self: center;
    margin: 10px;
    width: 100%;
    margin: 0;
}

#about img {
    border-radius: 50%;
    width: 150px;
}



input,
select {
    margin-bottom: 10px;
    font-family: "Varela Round";
    border-radius: 5px;
    padding: 5px;

}

.button {
    display: inline-block;
}

button,
.button {

    color: rgb(255, 255, 255);
    background-color: rgb(90, 0, 194);
    font-family: "Varela Round";
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999999;
    padding-left: 30px;
    padding-right: 30px;
}

button:hover,
.button:hover {
    background-color: rgb(80, 36, 102)
}

button:active {
    background-color: rgb(80, 36, 102);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2,
h3,
h1 {
    color: rgb(35, 6, 139);
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
}


span {
    font-weight: bold;
}

footer {
    padding: 0px;
    font-size: 0.7em;
    margin: 0px;

}

.darker {
    background-color: rgb(212, 193, 228);
}






.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    padding-bottom: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(237, 216, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    align-self: center;


    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    max-width: 400px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.imgContainer:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
}


.imgContainer img {
    max-height: 220px;
}


i {
    background-color: #b6b1ff;
    border-radius: 50%;
    padding: 20px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

i:hover {
    color: #008cff;
    cursor: help;
}

.icons {
    direction: ltr;
    padding: 10px;
    margin: -10px;
    background-color: white;
}


.project-icons i {
    width: auto;
    height: auto;
    font-size: 20px;
    background-color: var(--strip-color);
    margin: 0;

}



a {
    text-decoration: none;
    color: black;
}



.form-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-top: 0px;
}

.form-container img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    text-align: right;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

form label {
    font-weight: bold;
    color: #3d1c59;
}

form input,
form textarea {
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    resize: none;


    height: 50px;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    border: 0;
    border-bottom: 4px solid #020253;
}

form textarea {
    height: 100px;
}

form button {
    width: fit-content;

}



@media (min-width: 1800px) {
    .projects {
        margin-left: calc((100vw - (400px * 4 )) / 2);
        margin-right: calc((100vw - (400px * 4 )) / 2);
    }

}



@media (max-width: 1200px) {

    h2,
    h3,
    h1 {
        color: rgb(35, 6, 139);
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .form-container img {
        grid-row-start: 1;
    }


    form {
        width: 100%;

    }
}

/* For small screens like mobile devices */
@media (max-width: 600px) {
    :root {

        --nav-height: auto;
    }

    * {
        scroll-margin-top: 200px;
    }

    .imgContainer {
        max-width: 300px;
    }

    .imgContainer img {
        max-width: 300px;
    }

    .horizontalNav {
        display: none;
        /* Hide nav by default on mobile */
        flex-direction: column;
        width: 100%;

    }

    .menu-icon {
        display: block;
        /* Show the toggle icon on mobile */

    }

    li a {
        border-radius: 20px;
    }

    /* When the checkbox is checked, show the menu */
    .menu-toggle:checked+.menu-icon+.horizontalNav {
        display: flex;
    }

    .horizontalNav.right {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
    }

    nav .right li :hover {
        background-color: var(--primary-color);
    }
}